################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SkiaDemo1/v14/.suo
/Droid/obj
/Droid/bin
/iOS/obj
/iOS/bin
/packages
/SkiaDemo1.UWP/bin
/SkiaDemo1.UWP/obj
/SkiaDemo1.UWP/project.lock.json
*.userprefs
/Droid/SkiaDemo1.Droid.csproj.bak
/iOS/SkiaDemo1.iOS.csproj.user
/SkiaDemo1.UWP/SkiaDemo1.UWP.nuget.props
/.vs
